#list-panel.panel.panel-primary
  .panel-heading
    %span.icon.glyphicon.glyphicon-list-alt{ "aria-hidden" => "true" }
    %h3.panel-title{ :title => list.description }
      = list.title
    = link_to edit_list_path(list) do
      %span.icon.glyphicon.glyphicon-pencil{ "aria-hidden" => "true" }
    \|
    = link_to list, method: :delete, data: { confirm: 'Are you sure?' } do
      %span.icon.glyphicon.glyphicon-trash{ "aria-hidden" => "true" }
  #panel-body.panel-body
    #inherit-panel-second.panel.panel-default
      #inherit-panel-heading.panel-heading
      #inherit-panel-body.panel-body