- flash.each do |key, value|
  - if value.present?
    #dialog-message
      %div.alert.alert-warning
        %a.close{ :href => "#", :data => { :dismiss => "alert" } }
          x
        %ul
          %li
            = value